In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv("Churn.csv")

In [56]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1.0,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0.0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1.0,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0.0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1.0,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1.0,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1.0,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1.0,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,NaN,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1.0,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0.0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,NaN,2,1.0,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1.0,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0.0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,NaN,2,1.0,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0.0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1.0,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1.0,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0.0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1.0,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1.0,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1.0,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1.0,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0.0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1.0,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0.0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1.0,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0.0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1.0,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1.0,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1.0,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0.0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1.0,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1.0,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1.0,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1.0,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1.0,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1.0,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1.0,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0.0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0.0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1.0,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1.0,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0.0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1.0,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1.0,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0.0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1.0,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1.0,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1.0,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1.0,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1.0,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1.0,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1.0,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0.0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1.0,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1.0,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0.0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1.0,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1.0,0,38190.78,0

In [57]:
df.drop('RowNumber',axis=1,inplace=True)

In [58]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1.0,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0.0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1.0,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0.0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1.0,1,79084.10,0
5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1.0,0,149756.71,1
6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1.0,1,10062.80,0
7,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1.0,0,119346.88,1
8,15792365,He,501,France,Male,44,4,142051.07,2,NaN,1,74940.50,0
9,15592389,H?,684,France,Male,27,2,134603.88,1,1.0,1,71725.73,0
10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0.0,0,80181.12,0
11,15737173,Andrews,497,Spain,Male,24,3,NaN,2,1.0,0,76390.01,0
12,15632264,Kay,476,France,Female,34,10,0.00,2,1.0,0,26260.98,0
13,15691483,Chin,549,France,Female,25,5,0.00,2,0.0,0,190857.79,0
14,15600882,Scott,635,Spain,Female,35,7,NaN,2,1.0,1,65951.65,0
15,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0.0,1,64327.26,0
16,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1.0,0,5097.67,1
17,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1.0,1,14406.41,0
18,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0.0,0,158684.81,0
19,15568982,Hao,726,France,Female,24,6,0.00,2,1.0,1,54724.03,0
20,15577657,McDonald,732,France,Male,41,8,0.00,2,1.0,1,170886.17,0
21,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1.0,0,138555.46,0
22,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1.0,0,118913.53,1
23,15725737,Mosman,669,France,Male,46,3,0.00,2,0.0,1,8487.75,0
24,15625047,Yen,846,France,Female,38,5,0.00,1,1.0,1,187616.16,0
25,15738191,Maclean,577,France,Male,25,3,0.00,2,0.0,1,124508.29,0
26,15736816,Young,756,Germany,Male,36,2,136815.64,1,1.0,1,170041.95,0
27,15700772,Nebechi,571,France,Male,44,9,0.00,2,0.0,0,38433.35,0
28,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1.0,1,100187.43,0
29,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1.0,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,15587133,Thompson,518,France,Male,42,7,151027.05,2,1.0,0,119377.36,0
9971,15721377,Chou,833,France,Female,34,3,144751.81,1,0.0,0,166472.81,0
9972,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1.0,0,171552.02,0
9973,15806455,Miller,611,France,Male,27,7,0.00,2,1.0,1,157474.10,0
9974,15695474,Barker,583,France,Male,33,7,122531.86,1,1.0,0,13549.24,0
9975,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1.0,0,196526.55,1
9976,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1.0,0,84419.78,0
9977,15579969,Mancini,683,France,Female,32,9,0.00,2,1.0,1,24991.92,0
9978,15703563,P'eng,774,France,Male,40,9,93017.47,2,1.0,0,191608.97,0
9979,15692664,Diribe,677,France,Female,58,1,90022.85,1,0.0,1,2988.28,0
9980,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0.0,0,99595.67,0
9981,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1.0,1,53445.17,1
9982,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1.0,0,115146.40,1
9983,15656710,Cocci,613,France,Male,40,4,0.00,1,0.0,0,151325.24,0
9984,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1.0,1,51695.41,0
9985,15586914,Nepean,659,France,Male,36,6,123841.49,2,1.0,0,96833.00,0
9986,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0.0,1,34047.54,0
9987,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1.0,1,1914.41,0
9988,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1.0,0,49337.84,0
9989,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1.0,1,179436.60,0
9990,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1.0,0,53667.08,0
9991,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1.0,0,69384.71,1
9992,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1.0,0,195192.40,0
9993,15569266,Rahman,644,France,Male,28,7,155060.41,1,1.0,0,29179.52,0
9994,15719294,Wood,800,France,Female,29,2,0.00,2,0.0,0,167773.55,0
9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1.0,0,96270.64,0
9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1.0,1,101699.77,0
9997,15584532,Liu,709,France,Female,36,7,0.00,1,0.0,1,42085.58,1
9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1.0,0,92888.52,1
9999,15628319,Walker,792,France,Female,28,4,130142.79,1,1.0,0,38190.78,0

In [59]:
df[df["Gender"]=="Male"]

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1.0,0,149756.71,1
6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1.0,1,10062.80,0
8,15792365,He,501,France,Male,44,4,142051.07,2,NaN,1,74940.50,0
9,15592389,H?,684,France,Male,27,2,134603.88,1,1.0,1,71725.73,0
10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0.0,0,80181.12,0
11,15737173,Andrews,497,Spain,Male,24,3,NaN,2,1.0,0,76390.01,0
15,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0.0,1,64327.26,0
16,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1.0,0,5097.67,1
18,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0.0,0,158684.81,0
20,15577657,McDonald,732,France,Male,41,8,0.00,2,1.0,1,170886.17,0
23,15725737,Mosman,669,France,Male,46,3,0.00,2,0.0,1,8487.75,0
25,15738191,Maclean,577,France,Male,25,3,0.00,2,0.0,1,124508.29,0
26,15736816,Young,756,Germany,Male,36,2,136815.64,1,1.0,1,170041.95,0
27,15700772,Nebechi,571,France,Male,44,9,0.00,2,0.0,0,38433.35,0
29,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1.0,1,53483.21,0
31,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0.0,1,156731.91,0
32,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0.0,0,81898.81,0
36,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0.0,1,114066.77,0
37,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0.0,1,98453.45,0
38,15717426,Armstrong,850,France,Male,36,7,0.00,1,1.0,1,40812.90,0
39,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0.0,1,178074.04,0
40,15619360,Hsiao,472,Spain,Male,40,4,0.00,1,1.0,0,70154.22,0
48,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0.0,1,90878.13,0
50,15616550,Chidiebele,698,Germany,Male,44,10,116363.37,2,1.0,0,198059.16,0
51,15768193,Trevisani,585,Germany,Male,36,5,146050.97,2,0.0,0,86424.57,0
53,15702298,Parkhill,655,Germany,Male,41,8,125561.97,1,0.0,0,164040.94,1
54,15569590,Yoo,601,Germany,Male,42,1,98495.72,1,1.0,0,40014.76,1
55,15760861,Phillipps,619,France,Male,43,1,125211.92,1,1.0,1,113410.49,0
56,15630053,Tsao,656,France,Male,45,5,127864.40,1,1.0,0,87107.57,0
57,15647091,Endrizzi,725,Germany,Male,19,0,75888.20,1,0.0,0,45613.75,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9958,15657771,Ts'ui,537,France,Male,37,6,0.00,1,1.0,1,17802.42,0
9959,15677783,Graham,764,Spain,Male,38,4,113607.47,1,1.0,0,91094.46,0
9961,15566543,Aldridge,573,Spain,Male,44,9,0.00,2,1.0,0,107124.17,0
9962,15594612,Flynn,702,Spain,Male,44,9,0.00,1,0.0,0,59207.41,1
9963,15814664,Scott,740,Germany,Male,33,2,126524.11,1,1.0,0,136869.31,0
9964,15642785,Douglas,479,France,Male,34,5,117593.48,2,0.0,0,113308.29,0
9966,15590213,Ch'en,479,Spain,Male,35,4,125920.98,1,1.0,1,20393.44,0
9967,15603794,Pugliesi,623,France,Male,48,5,118469.38,1,1.0,1,158590.25,0
9969,15806360,Hou,609,France,Male,41,6,0.00,1,0.0,1,112585.19,0
9970,15587133,Thompson,518,France,Male,42,7,151027.05,2,1.0,0,119377.36,0
9972,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1.0,0,171552.02,0
9973,15806455,Miller,611,France,Male,27,7,0.00,2,1.0,1,157474.10,0
9974,15695474,Barker,583,France,Male,33,7,122531.86,1,1.0,0,13549.24,0
9975,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1.0,0,196526.55,1
9978,15703563,P'eng,774,France,Male,40,9,93017.47,2,1.0,0,191608.97,0
9980,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0.0,0,99595.67,0
9981,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1.0,1,53445.17,1
9983,15656710,Cocci,613,France,Male,40,4,0.00,1,0.0,0,151325.24,0
9984,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1.0,1,51695.41,0
9985,15586914,Nepean,659,France,Male,36,6,123841.49,2,1.0,0,96833.00,0
9986,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0.0,1,34047.54,0
9987,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1.0,1,1914.41,0
9988,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1.0,0,49337.84,0
9989,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1.0,1,179436.60,0
9990,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1.0,0,53667.08,0
9992,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1.0,0,195192.40,0
9993,15569266,Rahman,644,France,Male,28,7,155060.41,1,1.0,0,29179.52,0
9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1.0,0,96270.64,0
9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1.0,1,101699.77,0
9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1.0,0,92888.52,1

In [60]:
df.loc[999]

CustomerId         15787772
Surname              Hansen
CreditScore             759
Geography            France
Gender               Female
Age                      38
Tenure                    1
Balance              104091
NumOfProducts             1
HasCrCard                 0
IsActiveMember            0
EstimatedSalary     91561.9
Exited                    0
Name: 999, dtype: object

In [61]:
df.loc[999]["Surname"]

'Hansen'

In [62]:
df.loc[9992]["Surname"]

'Chukwualuka'

In [63]:
df[(df["Balance"]<100000) & (df["Gender"]=="Male") & (df["Balance"]!=0)]["EstimatedSalary"]

29       53483.21
31      156731.91
37       98453.45
39      178074.04
54       40014.76
57       45613.75
59       46775.28
62      178798.13
63       99398.36
78      194239.63
97      197276.13
102      41970.72
106      10054.53
109      99449.86
110      63082.88
169      53134.30
171     155996.96
193      86957.42
194     128077.80
199      10488.44
216     133007.34
224     108872.45
228      77206.25
239     162812.16
253      57558.95
259     140075.55
264      18606.23
278     164255.69
290     137316.32
309      44937.01
          ...
9671    142566.75
9672    185483.24
9675     40223.74
9677    186942.49
9684      6959.00
9694    150319.49
9696    199138.84
9713     96687.25
9734     20881.96
9757     13591.52
9764     77977.69
9766     13906.34
9772     60485.98
9787    109159.58
9802    114279.63
9806     68141.92
9830    128384.11
9843     18897.29
9857     76476.05
9886     60270.87
9905    123982.14
9921     64539.64
9928      2444.29
9947     73124.53
9978    191608.97
9980     99595.67
9984     51695.41
9990     53667.08
9996    101699.77
9998     92888.52
Name: EstimatedSalary, Length: 843, dtype: float64

In [64]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1.0,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0.0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1.0,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0.0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1.0,1,79084.10,0
5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1.0,0,149756.71,1
6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1.0,1,10062.80,0
7,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1.0,0,119346.88,1
8,15792365,He,501,France,Male,44,4,142051.07,2,NaN,1,74940.50,0
9,15592389,H?,684,France,Male,27,2,134603.88,1,1.0,1,71725.73,0
10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0.0,0,80181.12,0
11,15737173,Andrews,497,Spain,Male,24,3,NaN,2,1.0,0,76390.01,0
12,15632264,Kay,476,France,Female,34,10,0.00,2,1.0,0,26260.98,0
13,15691483,Chin,549,France,Female,25,5,0.00,2,0.0,0,190857.79,0
14,15600882,Scott,635,Spain,Female,35,7,NaN,2,1.0,1,65951.65,0
15,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0.0,1,64327.26,0
16,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1.0,0,5097.67,1
17,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1.0,1,14406.41,0
18,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0.0,0,158684.81,0
19,15568982,Hao,726,France,Female,24,6,0.00,2,1.0,1,54724.03,0
20,15577657,McDonald,732,France,Male,41,8,0.00,2,1.0,1,170886.17,0
21,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1.0,0,138555.46,0
22,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1.0,0,118913.53,1
23,15725737,Mosman,669,France,Male,46,3,0.00,2,0.0,1,8487.75,0
24,15625047,Yen,846,France,Female,38,5,0.00,1,1.0,1,187616.16,0
25,15738191,Maclean,577,France,Male,25,3,0.00,2,0.0,1,124508.29,0
26,15736816,Young,756,Germany,Male,36,2,136815.64,1,1.0,1,170041.95,0
27,15700772,Nebechi,571,France,Male,44,9,0.00,2,0.0,0,38433.35,0
28,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1.0,1,100187.43,0
29,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1.0,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,15587133,Thompson,518,France,Male,42,7,151027.05,2,1.0,0,119377.36,0
9971,15721377,Chou,833,France,Female,34,3,144751.81,1,0.0,0,166472.81,0
9972,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1.0,0,171552.02,0
9973,15806455,Miller,611,France,Male,27,7,0.00,2,1.0,1,157474.10,0
9974,15695474,Barker,583,France,Male,33,7,122531.86,1,1.0,0,13549.24,0
9975,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1.0,0,196526.55,1
9976,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1.0,0,84419.78,0
9977,15579969,Mancini,683,France,Female,32,9,0.00,2,1.0,1,24991.92,0
9978,15703563,P'eng,774,France,Male,40,9,93017.47,2,1.0,0,191608.97,0
9979,15692664,Diribe,677,France,Female,58,1,90022.85,1,0.0,1,2988.28,0
9980,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0.0,0,99595.67,0
9981,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1.0,1,53445.17,1
9982,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1.0,0,115146.40,1
9983,15656710,Cocci,613,France,Male,40,4,0.00,1,0.0,0,151325.24,0
9984,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1.0,1,51695.41,0
9985,15586914,Nepean,659,France,Male,36,6,123841.49,2,1.0,0,96833.00,0
9986,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0.0,1,34047.54,0
9987,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1.0,1,1914.41,0
9988,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1.0,0,49337.84,0
9989,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1.0,1,179436.60,0
9990,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1.0,0,53667.08,0
9991,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1.0,0,69384.71,1
9992,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1.0,0,195192.40,0
9993,15569266,Rahman,644,France,Male,28,7,155060.41,1,1.0,0,29179.52,0
9994,15719294,Wood,800,France,Female,29,2,0.00,2,0.0,0,167773.55,0
9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1.0,0,96270.64,0
9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1.0,1,101699.77,0
9997,15584532,Liu,709,France,Female,36,7,0.00,1,0.0,1,42085.58,1
9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1.0,0,92888.52,1
9999,15628319,Walker,792,France,Female,28,4,130142.79,1,1.0,0,38190.78,0

In [66]:
df["HasCrCard"].dropna()

0       1.0
1       0.0
2       1.0
3       0.0
4       1.0
5       1.0
6       1.0
7       1.0
9       1.0
10      0.0
11      1.0
12      1.0
13      0.0
14      1.0
15      0.0
16      1.0
17      1.0
18      0.0
19      1.0
20      1.0
21      1.0
22      1.0
23      0.0
24      1.0
25      0.0
26      1.0
27      0.0
28      1.0
29      1.0
30      1.0
       ...
9970    1.0
9971    0.0
9972    1.0
9973    1.0
9974    1.0
9975    1.0
9976    1.0
9977    1.0
9978    1.0
9979    0.0
9980    0.0
9981    1.0
9982    1.0
9983    0.0
9984    1.0
9985    1.0
9986    0.0
9987    1.0
9988    1.0
9989    1.0
9990    1.0
9991    1.0
9992    1.0
9993    1.0
9994    0.0
9995    1.0
9996    1.0
9997    0.0
9998    1.0
9999    1.0
Name: HasCrCard, Length: 9999, dtype: float64

In [69]:
df.dropna()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1.0,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0.0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1.0,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0.0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1.0,1,79084.10,0
5,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1.0,0,149756.71,1
6,15592531,Bartlett,822,France,Male,50,7,0.00,2,1.0,1,10062.80,0
7,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1.0,0,119346.88,1
9,15592389,H?,684,France,Male,27,2,134603.88,1,1.0,1,71725.73,0
10,15767821,Bearce,528,France,Male,31,6,102016.72,2,0.0,0,80181.12,0
12,15632264,Kay,476,France,Female,34,10,0.00,2,1.0,0,26260.98,0
13,15691483,Chin,549,France,Female,25,5,0.00,2,0.0,0,190857.79,0
15,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0.0,1,64327.26,0
16,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1.0,0,5097.67,1
17,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1.0,1,14406.41,0
18,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0.0,0,158684.81,0
19,15568982,Hao,726,France,Female,24,6,0.00,2,1.0,1,54724.03,0
20,15577657,McDonald,732,France,Male,41,8,0.00,2,1.0,1,170886.17,0
21,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1.0,0,138555.46,0
22,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1.0,0,118913.53,1
23,15725737,Mosman,669,France,Male,46,3,0.00,2,0.0,1,8487.75,0
24,15625047,Yen,846,France,Female,38,5,0.00,1,1.0,1,187616.16,0
25,15738191,Maclean,577,France,Male,25,3,0.00,2,0.0,1,124508.29,0
26,15736816,Young,756,Germany,Male,36,2,136815.64,1,1.0,1,170041.95,0
27,15700772,Nebechi,571,France,Male,44,9,0.00,2,0.0,0,38433.35,0
28,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1.0,1,100187.43,0
29,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1.0,1,53483.21,0
30,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1.0,0,140469.38,1
31,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0.0,1,156731.91,0
32,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0.0,0,81898.81,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,15587133,Thompson,518,France,Male,42,7,151027.05,2,1.0,0,119377.36,0
9971,15721377,Chou,833,France,Female,34,3,144751.81,1,0.0,0,166472.81,0
9972,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1.0,0,171552.02,0
9973,15806455,Miller,611,France,Male,27,7,0.00,2,1.0,1,157474.10,0
9974,15695474,Barker,583,France,Male,33,7,122531.86,1,1.0,0,13549.24,0
9975,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1.0,0,196526.55,1
9976,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1.0,0,84419.78,0
9977,15579969,Mancini,683,France,Female,32,9,0.00,2,1.0,1,24991.92,0
9978,15703563,P'eng,774,France,Male,40,9,93017.47,2,1.0,0,191608.97,0
9979,15692664,Diribe,677,France,Female,58,1,90022.85,1,0.0,1,2988.28,0
9980,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0.0,0,99595.67,0
9981,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1.0,1,53445.17,1
9982,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1.0,0,115146.40,1
9983,15656710,Cocci,613,France,Male,40,4,0.00,1,0.0,0,151325.24,0
9984,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1.0,1,51695.41,0
9985,15586914,Nepean,659,France,Male,36,6,123841.49,2,1.0,0,96833.00,0
9986,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0.0,1,34047.54,0
9987,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1.0,1,1914.41,0
9988,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1.0,0,49337.84,0
9989,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1.0,1,179436.60,0
9990,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1.0,0,53667.08,0
9991,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1.0,0,69384.71,1
9992,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1.0,0,195192.40,0
9993,15569266,Rahman,644,France,Male,28,7,155060.41,1,1.0,0,29179.52,0
9994,15719294,Wood,800,France,Female,29,2,0.00,2,0.0,0,167773.55,0
9995,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1.0,0,96270.64,0
9996,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1.0,1,101699.77,0
9997,15584532,Liu,709,France,Female,36,7,0.00,1,0.0,1,42085.58,1
9998,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1.0,0,92888.52,1
9999,15628319,Walker,792,France,Female,28,4,130142.79,1,1.0,0,38190.78,0